@import "~react-datepicker/dist/react-datepicker.css";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: bottom;
  margin: unset;
}

* {
  margin: unset;
  color: rgba(18, 41, 69, 1);
  box-sizing: border-box;
}

.App {
  background: rgba(241, 244, 249, 1);
}
